.containerForFixSelector{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
    padding: 0;
    border-radius: 5px; 
}
.containerForFixSelector p{
    width: 100%;
    font-weight: bold;
    color: rgb(27, 27, 234);
    padding: 0;
    margin: 30px 0 5px 0;
}
.containerForFixSelector .BTNS{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;  
    background-color: rgba(74, 158, 236, 0.422);
}
.containerForFixSelector button{
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    flex: 1;
    cursor: pointer;
}
.true{
    background-color: #fff !important;
    box-shadow: 3px 3px 3px 3px rgba(74, 158, 236, 0.422);
}

@media screen and (max-width: 850px) {
    .containerForFixSelector{
        width: 80%;
    }
}