.containerForMainField{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerForMainField .NotMulti{
    width: 343px !important;
    min-height: 35px !important;
}




.containerForMainField .adSearching{
    width: 30%;
    height: 30px;
    background-color: rgba(39, 39, 227, 0.852);
    border: none;
    margin: 30px 0 0 0;
    color: rgba(0, 0, 0, 0.642);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerForMainField .adSearching:hover{
    background-color: rgb(39, 39, 227);;
}
.adSearching .NavLink{
    text-decoration: none;
    color: aliceblue;
    font-size:9pt;
    font-weight: bold;
}
.Disabled{
   background-color: rgb(195, 195, 195) !important; 
}
.containerForMainField .cleanBtn{
    color: rgba(0, 0, 255, 0.457);
    cursor: pointer;
}
@media screen and (max-width: 850px) {
    .containerForMainField{
        width: 100%;
    }
    .containerForMainField .adSearching{
        width: 50%;
        height: 30px;
        
    }
}
