.containerForRange{
    width: 30%;
    
}
.containerForRange p{
    width: 100%;
    font-weight: bold;
    color: rgb(27, 27, 234);
    padding: 0;
    margin: 30px 0 5px 0;
}
p span{
    color: black;
    font-weight: lighter;
    font-size: smaller;
}
.containerForRange .Selection{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.containerForRange .Select{
    width: 150px;
    height: 25px;
    outline: none;
}
.true{
    border: 2px solid rgb(6, 191, 6);
}
.false{
    border: 2px solid rgb(189, 14, 14); 
}
@media screen and (max-width: 850px) {
    .containerForRange{
        width: 80%;
    }
}