.containerForSelect{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerForSelect p{
    width: 50%;
    font-weight: bold;
    color: rgb(27, 27, 234);
    padding: 0;
    margin: 30px 0 5px 0;
}
.containerForSelect div{
    width: 50%;
}
.Multy{
    width: 100% !important;
}
.Multy .searchWrapper{
    width: 100% !important;
}
.Multy .optionListContainer{
    width: 100% !important;
}

@media screen and (max-width: 850px) {
    .containerForSelect{
        width: 100%;
    }
    .containerForSelect p{
        width: 80%;
    }
    .containerForSelect div{
        width: 80%;
    }
    .Multy .optionListContainer{
        width: 100% !important;
    }
}