.containerForSelect{
    width: 30%;

}
.containerForSelect p{
    width: 50%;
    font-weight: bold;
    color: rgb(27, 27, 234);
    padding: 0;
    margin: 30px 0 5px 0;
}
.option{
    background-color: white;
}
.css-1u9des2-indicatorSeparator{
    display: none !important;
}
.css-1u9des2-indicatorSeparator{
    display: none !important;
}
.active{
    border: none;
    background: transparent;
    display: block;
    font-weight: bold;
}
.false{
    display: none;
}

@media screen and (max-width: 850px) {
    .containerForSelect{
        width: 80%;
    }
}