.containerForSorting{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.containerForSorting .head{
    color: rgba(0, 0, 255, 0.678);
    font-weight: bold;
    font-size: large;
    margin: 15px 0 5px 0;
}
.containerForSorting div{
    width: 100% !important;
}

@media screen and (max-width: 1000px) {
    .containerForSorting{
        width: 50%;
    }
    .containerForSorting div{
        width: 100% !important;
    }
    .Multy .optionListContainer{
        width: 100% !important;
    }
}
